<div class='intro'>
  <p><strong>They Work For You :: Local</strong> is a early-stage project to develop a unified way of accessing local authority information.</p>
  <p>At the moment only some local authorities have had parsers written for them, but more are being added every week, and more information is being added too.</p>
  <p>
    <strong>We currently have:</strong>
    <ul>
      <li><%= Council.parsed.all.size %> councils parsed</li>
      <li><%= Member.count %> councillors</li>
      <li><%= Committee.count %> committees</li>
      <li><%= Meeting.count %> committee meetings</li>
    </ul>
  </p>
  <p>The open-source code behind the site is visible for anyone to see at <%= link_to 'Github', 'http://github.com/CountCulture/twfy_local_parser', :class => "external" %></p>
  <p>Most of the data is accessible as <%= link_to "XML", 'http://en.wikipedia.org/wiki/XML', :class => 'external' %> or <%= link_to "json", 'http://en.wikipedia.org/wiki/JSON', :class => 'external' %> data through a rough and ready API (basically add .xml or .js to the main part of the URL)</p>
</div>
<div id="latest_councils">
  <h3>Most recently updated councils</h3>
  <ul>
    <% for council in @councils %>
      <li><%= link_for council %></li>
    <% end %>
  </ul>
  <p><%= link_to "See all councils", councils_path %></p>
</div>