<h4 class="owner">Meeting of the <%= link_for @council %></h4>
<h1><%= @title %> <em><%= council_page_for @meeting %></em></h1>

<p class="extra_info">
  <strong>Venue </strong><%= @meeting.venue || "Not known" %> :: 
  <%= link_to("Minutes", @meeting.minutes)+" ::" if @meeting.minutes %>
   Other <%= link_to "meetings", meetings_path(:council_id => @council.id) %>/<%= link_to "committees", committees_path(:council_id => @council.id) %> for <%= link_for @council %>
</p>

<div id="members" class="item_grouping">
  <h3>Members of this committee</h3>
  <%= list_all @committee.members %>
</div>
<div id="meetings" class="item_grouping">
  <h3>Other meetings of this committee</h3>
  <%= list_all @other_meetings %>
</div>
<%= render :partial => '/shared/api_info' %>
<p class="attribution">Last updated <%= @meeting.updated_at.to_s(:short) %> (<%= time_ago_in_words(@meeting.updated_at) %> ago)</p>