<% form_for :scraper, @scraper, :url => (@scraper.new_record? ? scrapers_path : scraper_path(@scraper)), :html => { :method => (@scraper.new_record? ? :post : :put)} do |f| -%>
    <p>
      <%= f.label :council, "Council" %>
      <%= f.collection_select :council_id, Council.find(:all), :id, :name, { :include_blank => true } %>
    </p>
    <%= hidden_field_tag :type, @scraper.class.to_s %>
    <p>
      <%= f.label :result_model, "Result Model" %>
      <%= f.select("result_model", Scraper::ALLOWED_RESULT_CLASSES.collect{ |c| [c,c] }, { :include_blank => true }) %>
    </p>
    <%- unless @scraper.is_a?(InfoScraper) -%>
      <p>
        <%= f.label :url, "Url to be scraped" %>
        <%= f.text_field :url, :size => 60 %>
      </p>
      <p>
        <em>or...</em><br />
        <%= f.label :related_model, "Related model" %>
        <%= f.select("related_model", Scraper::ALLOWED_RESULT_CLASSES.collect{ |c| [c,c] }, { :include_blank => true }) %>
      </p>
    <%- end -%>
    <fieldset id="parser_details">
      <legend>Parser details</legend>
      <% f.fields_for :parser do |pf| %>
        <p>
          <%= pf.label :title, "Parser Title" %>
          <%= pf.text_field :title %>
        </p>
        <p>
          <%= pf.label :item_parser %>
          <%= pf.text_area :item_parser, :rows => 3 %>
        </p>
        <div id="parser_attribute_parser">
          <h3>Attribute parser</h3>
          <%= render :partial => 'attrib', :collection => @scraper.parser.attribute_parser_object %>
        </div>
        <br class="clear-left">
        <p><%= link_to_function "add more attributes" do |page|
          page.insert_html :bottom, :parser_attribute_parser, :partial => 'attrib', :object => Parser::AttribObject.new
        end %></p>
      <% end %>
  </fieldset>
  <%= f.submit "Submit" %>
<% end -%>
