<%- div_for member, :class => class_for_result(member) do -%>
<div><%= flash_for_result(member) %></div>
<%= error_messages_for :member, :object => member %>
  <h4><%= member.full_name %> <em><%= link_to "Council page", member.url, :class => "external" %></em></h4>
  <%= changed_attributes_list(member) %>
<%- end -%>