<h1>Scraper details</h1>
<p><%= link_to "#{@scraper.council.name} Scrapers", scrapers_path(:anchor => dom_id(@scraper.council)) %> :: <%= link_to "All scrapers", scrapers_path %></p>
<div id="scraper">
  
  <div id="core_info">
    <h3><%= @scraper.class %></h3>
    <p>
      <strong>for</strong> <%= link_to "#{@scraper.council.name} Council", council_path(@scraper.council) %><br />
      <strong>scraping for</strong> <%= @scraper.scraping_for %>
    </p>
    <%= render :partial => '/parsers/parser', :object => @scraper.parser %>
    
  </div>
  <p><strong>Last updated</strong> <%= @scraper.updated_at %></p>
  <p>
    <%= link_to "edit", edit_scraper_path(@scraper) %> 
    <%= link_to "perform test scrape", scraper_path(:id => @scraper, :dry_run => true) %>
    <%= link_to "process now", scraper_path(:id => @scraper, :process => true) %>
  </p>
</div>
<%- if @results -%>
  <%= error_messages_for :scraper %>
  <%= error_messages_for :parser, :header_message => "Problem parsing scraped page", :message => "The following problems occurred:" %>
  
  <div id="results">
    <h3>Completed <%= params[:process] ? "Processing" : "Test Scrape" %>: <%= @results.size %> records found</h3>
    <%- for result in @results -%>
      <%= render :partial => 'scraped_object', :object => result %>
    <%- end -%>
  </div> 
  
<%- end -%>
