<%= error_messages_for :dataset %>

<% form_for @dataset do |f| -%>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :source, "Original source url" %>
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :key %>
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :query %>
    <%= f.text_area :query %>
  </p>
  <p>
    <%= f.label :originator %>
    <%= f.text_field :originator %>
  </p>
  <p>
    <%= f.label :originator_url %>
    <%= f.text_field :originator_url %>
  </p>
  <p>
    <%= f.submit "Submit" %>
  </p>
<% end -%>