<h1><%= @title %></h1>

<div class="intro">
  <strong>Description</strong> <%= simple_format h(@dataset.description) %>
</div>

<p>
  <strong>Data url</strong> <%= link_to h(@dataset.public_url), @dataset.public_url, :class => "external" %>
</p>

<p>
  <strong>Original source</strong> <%= @dataset.source ? link_to(h(@dataset.source), @dataset.source, :class => "external") : 'not known' %>
</p>

<p>
  <strong>Originator</strong> <%= @dataset.originator_url ? link_to(h(@dataset.originator), @dataset.originator_url, :class => "external") : 'not known' %>
</p>
<%= render :partial => '/shared/api_info' %>
<p class="attribution">Last updated <%= @dataset.updated_at.to_s(:short) %> (<%= time_ago_in_words(@dataset.updated_at) %> ago)</p>