<%= error_messages_for :council %>

<% form_for @council do |f| -%>

  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :url, "Url" %>
    <%= f.text_field :url %>
  </p>
  
  <p>
    <%= f.label :portal_system_id, "Portal System Used <br /><em>(if known)</em>" %>
    <%= f.select :portal_system_id, PortalSystem.find(:all).collect {|p| [ p.name, p.id ] }, { :include_blank => true } %>
  </p>
  
  <p>
    <%= f.label :base_url, "Portal base url <em>(including trailing slash)</em>" %>
    <%= f.text_field :base_url %>
  </p>
  
  <p>
    <%= f.label :authority_type, "Authority Type" %>
    <%= f.text_field :authority_type %>
  </p>
  
  <p>
    <%= f.label :address, "Address" %>
    <%= f.text_area :address %>
  </p>
  
  <p>
    <%= f.label :telephone, "Telephone" %>
    <%= f.text_field :telephone %>
  </p>
  
  <p>
    <%= f.label :wikipedia_url %>
    <%= f.text_field :wikipedia_url %>
  </p>
  
  <p>
    <%= f.label :ons_url, "ONS (Office for National Statistics) url" %>
    <%= f.text_field :ons_url %>
  </p>
  
  <p>
    <%= f.label :wdtk_name, "#{link_to 'WhatDoTheyKnow', 'http://whatdotheyknow.com/body/list/local_council', :class => 'external'} name" %>
    <%= f.text_field :wdtk_name %>
  </p>
  
  <p>
    <%= f.label :notes, "Notes <em>admin use only</em>" %>
    <%= f.text_area :notes %>
  </p>
  
  <%= f.submit "Submit" %>
<% end -%>