<h1><%= @title %></h1>
<div id="data">
  <p class="attribute"><strong>website</strong> <%= link_to @council.url, @council.url, :class => :external %></p>
  <p class="attribute"><strong>Authority type</strong> <%= @council.authority_type %></p>
  <p class="attribute"><strong>Address</strong> <%= @council.address %></p>
  <p class="attribute"><strong>Telephone</strong> <%= @council.telephone %></p>
  <p class="clear"><strong>Wikipedia page</strong> <%= link_to @council.wikipedia_url, @council.wikipedia_url, :class => 'external' %></p>
  <div class="extra_info">
    <h3>Other info</h3>
    <ul>
      <%- unless @council.wdtk_name.blank? -%>
        <li><%= link_to "WhatDoTheyKnow.com FoI requests", "http://www.whatdotheyknow.com/body/ #{@council.wdtk_name}", :class => 'external' %> (<%= link_to "feed", "http://www.whatdotheyknow.com/feed/body/#{@council.wdtk_name}", :class => "feed" %>)</li>
      <%- end -%>
      <li><%= link_to "Office for National Statistics page", @council.ons_url, :class => 'external' %></li>
      <li><%= link_to "eGovernment Register page", "http://www.brent.gov.uk/egr.nsf/laref/#{@council.egr_id}", :class => 'external' %></li>
    </ul>
    <div class="notes">
      <h4>Notes</h4>
      <%= simple_format @council.notes %>
    </div> 
  </div>
</div>

<div id="members" class="item_grouping">
  <h3>Current councillors</h3>
  <ul>
    <%- for member in @members -%>
      <li><%= link_to member.full_name, member %><%= " (#{member.party})" unless member.party.blank? %></li>
    <%- end -%>
  </ul>
</div>

<div id="committees" class="item_grouping">
  <h3><%= link_to "Council Committees", committees_path(:council_id => @council.id) %></h3>
  <%= list_all @council.committees %>
</div>
<%= render :partial => '/shared/api_info' %>
<p class="attribution">Last updated <%= @council.updated_at.to_s(:short) %></p>
