<h1><%= @title %></h1>
<div id="data">
  <p class="attribute"><strong>website</strong> <%= link_to @council.url, @council.url, :class => :external %></p>
  <p class="attribute"><strong>Authority type</strong> <%= @council.authority_type %></p>
  <p class="attribute"><strong>Address</strong> <%= @council.address %></p>
  <p class="attribute"><strong>Telephone</strong> <%= @council.telephone %></p>
  <p class="clear"><strong>Wikipedia page</strong> <%= link_to @council.wikipedia_url, @council.wikipedia_url, :class => 'external' %></p>
  <div class="extra_info">
    <h3>Other info</h3>
    <ul>
      <li><%= link_to "WhatDoTheyKnow.com FoI requests", "http://www.whatdotheyknow.com/body/#{@council.wdtk_name}", :class => 'external' %></li>
      <li><%= link_to "Office for National Statistics page", @council.ons_url, :class => 'external' %></li>
      <li><%= link_to "eGovernment Register page", "http://www.brent.gov.uk/egr.nsf/laref/#{@council.egr_id}", :class => 'external' %></li>
    </ul>
    <div class="notes">
      <h4>Notes</h4>
      <%= simple_format @council.notes %>
    </div> 
  </div>
</div>

<p><%= link_to "Council Committees", committees_path(:council_id => @council.id) %></p>

<h3>Current council members</h3>
<ul id="members">
  <% for member in @members %>
    <li><%= link_to member.full_name, member %> (<%= member.party %>)</li>
  <% end %>
</ul>
<p>Last updated <%= @council.updated_at.to_s(:short) %></p>
<%= render :partial => '/shared/api_info' %>
