<% form_for @parser do |pf| %>
  <p>
    <%#= pf.select :scraper_type, %w(InfoScraper ItemScraper).collect{ |s| [s,s] }, { :include_blank => true } %>
  </p>
  <p>
    <%= pf.label :result_model, "Result Model" %>
    <%= pf.select("result_model", Parser::ALLOWED_RESULT_CLASSES.collect{ |c| [c,c] }, { :include_blank => true }) %>
  </p>
  <%= pf.hidden_field :portal_system_id %>
  <%= pf.hidden_field :scraper_type %>
  
  <p>
    <%= pf.label :related_model, "Related model" %>
    <%= pf.select("related_model", Parser::ALLOWED_RESULT_CLASSES.collect{ |c| [c,c] }, { :include_blank => true }) %>
  </p>
  <p>
    <%= pf.label :description, "Parser Description" %>
    <%= pf.text_field :description %>
  </p>
  <p>
    <%= pf.label :path, "Path <em>optional. This will be added to council's base_url to generate url to be scraped</em>" %>
    <%= pf.text_field :path %>
  </p>
  <p>
    <%= pf.label :item_parser, "Item Parser <em>(base Hpricot doc is 'item')</em>" %>
    <%= pf.text_area :item_parser, :rows => 3 %>
  </p>
  <div id="parser_attribute_parser">
    <h3>Attribute parser <em>(base item is 'item')</em></h3>
    <%= render :partial => 'attrib', :collection => @parser.attribute_parser_object %>
  </div>
  <br class="clear-left">
  <p><%= link_to_function "add more attributes" do |page|
    page.insert_html :bottom, :parser_attribute_parser, :partial => 'attrib', :object => Parser::AttribObject.new
  end %></p>
  <%= pf.submit "Submit" %>
<% end %>
