<%- div_for parser do -%>
  <h3>Parser details</h3>
  <p><%= link_to "edit", edit_parser_path(parser) %></p>
  <p>
    <strong>Portal system</strong> <%= parser.portal_system ? link_for(parser.portal_system) : 'None' %><br />
    <strong>Result model</strong> <%= parser.result_model %><br />
    <strong>Related model</strong> <%= parser.related_model %>
  </p>
  <h4>Item parser <em>finds items from scraped page</em></h4>
  <code class="item_parser"><%= h parser.item_parser %></code>
  <h4>Item attribute parser <em>extracts each item's attributes from item</em></h4>
  <%- parser.attribute_parser.each do |attrib_name,code| -%>
    <div class="parser_attribute">
      <div class="title"><%= attrib_name %></div> 
      <div class="info"><code><%= h code %></code></div>
    </div>
  <%- end -%>
  <br class="clear-left" />
<%- end -%>