<h1><%= @committee.title %> <em><%= council_page_for @committee %></em></h1>
<p>
  Council <strong><%= link_for @committee.council %></strong>
  <em>(<%= link_to "see all #{h(@committee.council.name)} Council committees", committees_path(:council_id => @council.id) %> )</em>
</p>

<%- unless @committee.members.blank? -%>
<h3>Members</h3>
  <ul id="members">
    <% for member in @committee.members %>
      <li><%= link_for member %></li>
    <% end %>
  </ul>
<%- end -%>

<%- unless @committee.meetings.blank? -%>
<h3>Meetings</h3>
  <ul id="meetings">
    <% for meeting in @committee.meetings %>
      <li><%= link_for meeting %></li>
    <% end %>
  </ul>
<%- end -%>
<%= render :partial => '/shared/api_info' %>
<p class="attribution">Last updated <%= @committee.updated_at.to_s(:short) %> (<%= time_ago_in_words(@committee.updated_at) %> ago)</p>