<h1><%= @committee.title %> <em><%= link_to "council page", @committee.url %></em></h1>
<p>
  Council <strong><%= link_to h(@committee.council.name), @committee.council %></strong>
  <em>(<%= link_to "see all #{h(@committee.council.name)} Council committees", committees_path(:council_id => @council.id) %> )</em>
</p>

<%- unless @members.blank? -%>
  <ul id="members">
    <% for member in @members %>
      <li><%= link_for member %></li>
    <% end %>
  </ul>
<%- end -%>

<%- unless @meetings.blank? -%>
  <ul id="meetings">
    <% for meeting in @meetings %>
      <li><%= link_for meeting %></li>
    <% end %>
  </ul>
<%- end -%>
<p class="attribution">Last updated <%= @committee.updated_at.to_s(:short) %> (<%= time_ago_in_words(@committee.updated_at) %> ago)</p>
