<h1><%= link_for @committee.council %> committees: <%= @committee.title %> <em><%= council_page_for @committee %></em></h1>
<p>
  <em>(<%= link_to "see all #{h(@committee.council.name)} committees", committees_path(:council_id => @council.id) %> )</em>
</p>

<div id="members" class="item_grouping">
  <h3>Members</h3>
  <%= list_all @committee.members %>
</div>

<div id="meetings" class="item_grouping">
  <h3>Meetings</h3>
  <%= list_all @committee.meetings %>
</div>
<%= render :partial => '/shared/api_info' %>
<p class="attribution">Last updated <%= @committee.updated_at.to_s(:short) %> (<%= time_ago_in_words(@committee.updated_at) %> ago)</p>