<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
  
<%= render :partial => 'shared/layout_head' %>
<body class='admin' onLoad="javascript:pageTracker._setVar('test_value');">
  <div class="container">
    <%= render :partial => 'shared/header' %>
    <div id="content">
      <%= yield %>
    </div>
    <%= render :partial => 'shared/footer' %>
  </div>
  <%= render :partial => 'shared/google_analytics' %>
</body>