<h1><%= @member.full_name %> <em><%= council_page_for @member %></em></h1>
<p>Council <strong><%= link_to h(@member.council.name), @member.council %></strong></p>
<p>Party <strong><%= @member.party %></strong></p>
<p>Email <strong><%= @member.email ? mail_to(@member.email, @member.email, :encode => "javascript") : 'not known' %></strong></p>
<p>Date elected <strong><%= @member.date_elected ? @member.date_elected.to_s(:custom_short) : 'not known' %></strong></p>

<div id="committees" class="item_grouping">
  <h3>Council Committee Memberships</h3>
  <%= list_all @committees %>
</div>

<%= render :partial => '/shared/api_info' %>

<p class="attribution">Last updated <%= @member.updated_at.to_s(:short) %> (<%= time_ago_in_words(@member.updated_at) %> ago)</p>

